<!DOCTYPE html>
<html lang="en">

<container class="container-fluid">

  <div class="row">
    <div class="col-md-12 logo">
      <h1>Alarming</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 WakeMeUp">
      <h2>sinan=penisface</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 Time">
      <h2>9:00</h2>
    </div>
  </div>
  <div class="row">
    <div class="DayRow">
      <div class="col-md-1 day">
        <h3>M</h3>
      </div>
      <div class="col-md-1 day">
        <h3>M</h3>
      </div>
      <div class="col-md-1 day">
        <h3>M</h3>
      </div>
      <div class="col-md-1 day">
        <h3>M</h3>
      </div>
      <div class="col-md-1 day">
        <h3>M</h3>
      </div>
      <div class="col-md-1 day">
        <h3>M</h3>
      </div>
      <div class="col-md-1 day">
        <h3>M</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 add">
        <h1>+</h1>
      </div>
    </div>
  </div>
</container>


</html>
