<html lang="en">

<container class="container">

  <div class="row">
    <div class="col-md-6 logo">
      <svg 
      id="logo" 
      x="0px" y="0px" 
      width="100%" 
      height="50%"
      viewBox="0 0 700 350" 
      class="logo"
      align="center"
      >

      <linearGradient id="sky" gradientUnits="userSpaceOnUse" x1="336.3016" y1="672.6031" x2="336.3016" y2="0">
        <stop offset="0.5136" stop-color="#FCE5C0"/>
        <stop offset="0.7434" stop-color="#69BECB"/>
        <stop offset="0.994" stop-color="#005E7E"/>
      </linearGradient>

      <path fill="url(#sky)" 
      d="M336.302 0C150.567 0 0 150.567 0 336.302h672.603C672.603 150.567 522.036 0 336.302 0zM150.862 160.063c-14.789 0-26.778-11.989-26.778-26.778s11.989-26.778 26.778-26.778 26.778 11.989 26.778 26.778S165.651 160.063 150.862 160.063zM192.857 178.084c-4.526 0-8.195-3.669-8.195-8.195 0-4.526 3.669-8.195 8.195-8.195s8.195 3.669 8.195 8.195C201.052 174.415 197.383 178.084 192.857 178.084z"/><circle fill="#FFFFFF" cx="150.862" cy="133.286" r="26.778"/>

      <circle fill="#FFFFFF" cx="192.857" cy="169.889" r="8.195"/>
      <linearGradient id="sun" gradientUnits="userSpaceOnUse" x1="336.3016" y1="504.7143" x2="336.3016" y2="167.8889">
        <stop offset="0.4505" stop-color="#E57E25"/>
        <stop offset="0.5767" stop-color="#D26028"/>
        <stop offset="0.7003" stop-color="#C03A2B"/>
        <stop offset="0.8603" stop-color="#621B34"/>
        <stop offset="1" stop-color="#1D1734"/>
      </linearGradient>

      <path class="animated fadeInUp" fill="url(#sun)" d="M336.302 167.889c-93.012 0-168.413 75.401-168.413 168.413h336.825C504.714 243.29 429.313 167.889 336.302 167.889z"/>

      <path class="animated fadeInRight" fill="#ffffff" d="M499.461 288.89c-0.713-0.315-1.509-0.496-2.353-0.496 -2.816 0-5.132 1.963-5.409 4.478 -1.052-0.196-2.153-0.31-3.296-0.31 -6.912 0-12.516 3.836-12.516 8.568 0 0.611 0.097 1.207 0.275 1.782 -1.058-0.279-2.229-0.438-3.467-0.438 -3.928 0-7.217 1.566-8.136 3.679 -0.713-0.419-1.588-0.677-2.546-0.677 -2.358 0-4.27 1.504-4.27 3.36 0 0.473 0.127 0.921 0.35 1.329 -0.546-0.084-1.112-0.131-1.694-0.131 -3.831 0-7.023 1.916-7.742 4.458 -1.008-1.444-2.731-2.397-4.69-2.397 -3.108 0-5.627 2.397-5.627 5.354 0 1.788 0.93 3.359 2.345 4.332h85.595 80.807c4.331-0.519 7.679-3.931 7.679-8.072 0-4.5-3.95-8.148-8.823-8.148 -0.019 0-0.038 0.003-0.057 0.003 0.033-0.354 0.057-0.711 0.057-1.073 0-6.588-5.641-11.928-12.6-11.928 -0.694 0-1.37 0.067-2.033 0.169 0.002-0.057 0.017-0.111 0.017-0.169 0-2.32-1.88-4.2-4.2-4.2 -0.769 0-1.48 0.222-2.1 0.582 -0.804-14.034-12.803-25.175-27.491-25.175 -10.333 0-19.332 5.516-24.042 13.672 -3.588-2.171-8.125-3.471-13.064-3.471 -1.298 0-2.564 0.098-3.797 0.269C507.293 275.539 500.109 281.529 499.461 288.89z"/>
    </svg>
  </div>
  <div class="col-md-12 title animated fadeInUp">
    <h3>Alarming</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12 WakeMeUp">
    <h3>wake me up at</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12 Time">
    <h2>9:00</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="DayRow">
      <button class="button">
        M
      </button>
      <button class="button">
        T
      </button>
      <button class="button">
        W
      </button>
      <button class="button">
        T
      </button>
      <button class="button">
        F
      </button>
      <button class="button">
        S
      </button>
      <button class="button">
        S
      </button>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-12 addrow">
    <button class="button add">
      +
    </button>
  </div>
</div>
</div>
</container>


</html>
