.logo {
  text-align: center;
}
.WakeMeUp {
  text-align: center;
}
.Time {
  text-align: center;
}
.day {
  text-align: center;
}
.add {
  text-align: center;
}
.DayRow {
  width: 60%;
   float: none;
    margin: 0 auto;
    text-align: center;
}


