@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-black.eot');
  src: url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff') format('woff'), url('../fonts/lato/lato-black.ttf') format('truetype'), url('../fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bold.eot');
  src: url('../fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold.woff') format('woff'), url('../fonts/lato/lato-bold.ttf') format('truetype'), url('../fonts/lato/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bolditalic.eot');
  src: url('../fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic.woff') format('woff'), url('../fonts/lato/lato-bolditalic.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-italic.eot');
  src: url('../fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic.woff') format('woff'), url('../fonts/lato/lato-italic.ttf') format('truetype'), url('../fonts/lato/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-light.eot');
  src: url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light.woff') format('woff'), url('../fonts/lato/lato-light.ttf') format('truetype'), url('../fonts/lato/lato-light.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular.eot');
  src: url('../fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular.woff') format('woff'), url('../fonts/lato/lato-regular.ttf') format('truetype'), url('../fonts/lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flat-UI-Icons";
  src: url('../fonts/flat-ui-icons-regular.eot');
  src: url('../fonts/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/flat-ui-icons-regular.woff') format('woff'), url('../fonts/flat-ui-icons-regular.ttf') format('truetype'), url('../fonts/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  overflow-x: hidden;
}

.logo {
  text-align: center;
  width: 100%;
  display: block;
  margin-left: 0.75%;
}
.title {
  text-align: center;
}
.WakeMeUp {
  text-align: center;
  font-weight: normal;
}
.Time {
  text-align: center;
}
.day {
  text-align: center;
  width: 10%;
  display: inline-block;
}
.addrow {
  text-align: center;
  margin: 3% auto;
  margin-top: 30px;
  margin-bottom: 15px;
}
.DayRow {
  width: 70%;
  float: none;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .DayRow {
    width: 100%;
  }
  .day {
    width: 13%;
  }
}

.button {
 outline: none;
 font-weight: bold;
 color: #BDC3C7;
 padding: 13px 20px;
 font-size: 22px;
 line-height: 1.227;
 border-radius: 6px;
 background-color: transparent;
 border: 2px solid #BDC3C7;
 -webkit-font-smoothing: subpixel-antialiased;
 -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
 transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.add {
  background-color: #34495e;
  font-size: 28px;
  border: transparent;
  color: #ffffff;
}
.button:hover {
  color: #27AE60;
}
.button:active,
.button.active {
 border-color: #27AE60
}
.selected {
  border-color: #27AE60
}


