<!DOCTYPE html>
<html>
<head>
  <title>Alarming</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link href="Alarming/app/assets/stylesheets/flat-ui.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
